build/*
logs/*
test/node_modules/*
test/stress_test_results.csv
test/stress_test_results.csv
game_thread_log.txt
websocket_log.txt
.DS_Store
scripts/world/*
public.key
src/public_key.h
connection.sh

# Temporary development tools
luau*
*.zip
